In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#loading the data set into pandas dataframe
credit_card_data = pd.read_csv("C:\\Users\\SK Rituraj Alam\\Downloads\\creditcard.csv")

In [4]:
# first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
# dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This Dataset is Highly Unbalanced Dataset

0 --> Normal Transaction

1 --> fraudulent transaction

In [10]:
# separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [12]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [14]:
# compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

Number of Fraudulent Transactions --> 492

*   List item
*   List item

In [16]:
legit_sample = legit.sample(492)

In [18]:
new_data = pd.concat([legit_sample,fraud],axis=0)

In [19]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
116306,74224.0,-1.393439,-0.082521,2.027210,-0.454843,0.905206,-0.393808,0.106429,0.383440,-0.185481,...,-0.060770,-0.393706,-0.134924,0.008110,0.389116,0.152044,-0.037695,0.048899,5.30,0
140857,83981.0,-1.932215,-1.038757,2.499476,0.342710,1.501123,-0.380305,-0.980532,0.565248,0.244185,...,0.109745,-0.125482,-0.100213,-0.536932,0.548446,-0.451186,0.021217,0.091355,9.99,0
70480,53884.0,-0.562181,0.811587,1.198168,0.038657,0.773532,0.247325,0.815614,0.173666,-0.010447,...,-0.069264,-0.097510,-0.307197,-0.804518,0.216168,-0.459470,0.115405,0.107931,9.46,0
107137,70299.0,1.230172,-0.266189,-0.116718,0.213495,-0.211839,-0.125386,-0.071394,0.006230,-1.457258,...,-0.617810,-1.444746,0.119507,-0.407391,0.302867,-0.630573,0.024056,0.013515,44.00,0
55224,46840.0,1.144684,-0.024976,1.330454,0.681691,-0.963557,-0.250403,-0.623968,0.085796,0.442674,...,0.149077,0.546835,0.080528,0.453420,0.102848,0.370308,0.032908,0.031211,4.24,0

In [21]:
new_data.sample(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
46928,42991.0,-0.988856,0.951329,1.460238,-0.397674,0.031482,-0.748920,1.573874,-0.450587,-0.374021,...,-0.067584,0.089541,-0.286951,0.643943,0.527826,0.255610,-0.190721,-0.231715,105.00,0
6033,6805.0,-2.088521,1.350106,2.577182,2.529249,0.043491,0.783572,0.032387,-0.264021,2.346533,...,-0.426272,0.362988,-0.208792,-0.544741,0.363880,0.389236,0.474314,0.092574,13.54,0
124087,77171.0,1.118560,1.291858,-1.298805,2.135772,0.772204,-1.147291,0.390578,-0.107072,-0.038339,...,-0.346374,-0.663588,-0.102326,0.017911,0.650302,-0.332366,0.105949,0.128124,1.00,1
191875,129437.0,2.013321,-2.119638,0.358133,-1.219560,-2.383313,0.246276,-2.094931,0.297825,-0.217779,...,-0.113069,0.216822,0.267930,-0.007844,-0.567476,-0.210421,0.068173,-0.030597,79.50,0
129924,79243.0,1.464457,-1.179264,0.686272,-1.501133,-1.654532,-0.292589,-1.373110,0.042445,-1.789536,...,-0.029599,0.263841,-0.056971,-0.005200,0.342455,-0.100329,0.044290,0.014496,19.80,0

In [22]:
new_data.shape

(984, 31)

In [23]:
new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [25]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93097.721545,0.026775,0.048554,0.000808,0.057586,-0.019205,-0.022843,-0.031079,-0.006392,-0.045350,...,-0.026735,0.017932,-0.026776,-0.051615,0.009283,0.021030,-0.040023,-0.017187,0.001454,85.806402
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [28]:
X = new_data.drop(columns='Class',axis=1)
y = new_data['Class']

In [29]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
116306   74224.0 -1.393439 -0.082521  2.027210 -0.454843  0.905206 -0.393808
140857   83981.0 -1.932215 -1.038757  2.499476  0.342710  1.501123 -0.380305
70480    53884.0 -0.562181  0.811587  1.198168  0.038657  0.773532  0.247325
107137   70299.0  1.230172 -0.266189 -0.116718  0.213495 -0.211839 -0.125386
55224    46840.0  1.144684 -0.024976  1.330454  0.681691 -0.963557 -0.250403
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
116306  0.106429  0.383440 -0.185481  ... -0.067575 -0.060770 -0.393706
140857 -0.980532  0.565248  0.244185  ...  0.294705  0.109745 -0.125482
70480   0.815614  0.173666 -0.010447  ... -0.277312 -0.069264 -0.097510
107137 -0.071394  0.006230 -1.457258  ... -0.528256 -0.617810 -1.444746
55224  -0.623968  0.085796  0.442674  ... -0.072096  0.149077  0.546835
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
116306 -0.134924  0.008110  0.389116  0.152044 -0.037695  0.048899    5.30
140857 -0.100213 -0.536932  0.548446 -0.451186  0.021217  0.091355    9.99
70480  -0.307197 -0.804518  0.216168 -0.459470  0.115405  0.107931    9.46
107137  0.119507 -0.407391  0.302867 -0.630573  0.024056  0.013515   44.00
55224   0.080528  0.453420  0.102848  0.370308  0.032908  0.031211    4.24
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [31]:
print(y)

116306    0
140857    0
70480     0
107137    0
55224     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

# Split the data into Training data & Testing Data

In [32]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state =2)

In [33]:
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(787, 30) (787,) (197, 30) (197,)

# Model training

Logistic Regression

In [35]:
model = LogisticRegression()

In [36]:
# training the Logistic Regression Model with Training Data
model.fit(X_train, y_train)

LogisticRegression()

# Model Evaluation



# Accuracy Score

In [74]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [75]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.9339263024142312

In [76]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, y_test)

In [77]:
print('Accuracy score on Test Data : ', test_data_accuracy)

Accuracy score on Test Data :  0.9137055837563451

In [78]:
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestClassifier


# Create a classifier (e.g., Random Forest)
clf = RandomForestClassifier()

# Create a KFold cross-validation object
kfold = KFold(n_splits=5, shuffle=True, random_state=3)

# Perform cross-validation and get accuracy scores
scores = cross_val_score(clf, X, y, cv=kfold, scoring='accuracy')

# Display the accuracy scores for each fold
for fold, score in enumerate(scores, 1):
    print(f'Fold {fold} Accuracy: {score:.2f}')

# Calculate and display the mean accuracy and its standard deviation
mean_accuracy = scores.mean()
std_accuracy = scores.std()
print(f'Mean Accuracy: {mean_accuracy:.2f} (Â± {std_accuracy:.2f})')

Fold 1 Accuracy: 0.95
Fold 2 Accuracy: 0.95
Fold 3 Accuracy: 0.93
Fold 4 Accuracy: 0.94
Fold 5 Accuracy: 0.89
Mean Accuracy: 0.93 (Â± 0.02)